<template>
  <v-layout align-start>
    <v-flex>
      <v-toolbar flat color="white">
        <v-toolbar-title>Movimientos del Inventario</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          class="text-xs-center"
          v-model="search"
          append-icon="search"
          label="Búsqueda"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <template >
        <v-btn class="mb-2"  color="xls" @click="crearExcel">
          <v-icon color="white">fa-file-excel-o</v-icon>
        </v-btn>
      </template>
        

        <v-dialog v-model="dialog" max-width="500px">
          
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="abreviatura" label="Abreviatura">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="nombre" label="Nombre">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="descripcion" label="Descripción">
                    </v-text-field>
                  </v-flex>

                  <v-flex xs12 sm12 md12 v-show="valida">
                    <div
                      class="red--text"
                      v-for="v in validaMensaje"
                      :key="v"
                      v-text="v"
                    ></div>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="secondary" text @click="close">Cancelar</v-btn>
              <v-btn color="primary" text @click="guardar">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="adModal" max-width="290">
          <v-card>
            <v-card-title class="headline"> Eliminar registro </v-card-title>
            <v-card-text>
              Estás a punto de <span> eliminar </span>
              la Movimientos del Inventario
              {{ adNombre }}
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="secondary" text @click="DesactivarCerrar()"
                >Cancelar
              </v-btn>
              <v-btn color="primary" text @click="eliminar()"> Eliminar </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table
        :headers="headers"
        :items="movimientos"
        :search="search"
        :loading="loadingTable"
        loading-text="Cargando datos... Por favor espere un momento"
        class="elevation-1"
      >
        <template v-slot:item="{ item }">
          <tr>
            <td>{{ item.Sucursal?item.Sucursal.alias:"" }}</td>
            <td>{{ item.fechaRegistro ? mascarafecha(item.fechaRegistro) : "" }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.tipo }}</td>
            <td>De {{ item.SucursalOrigen? item.SucursalOrigen.alias : "" }} a {{ item.SucursalDestino?item.SucursalDestino.alias : "" }}</td>
            <td>{{ item.Registra? item.Registra.nombre+" "+item.Registra.appPaterno+" "+item.Registra.appMaterno : "" }}</td>
            <td>{{ item.Recibe? item.Recibe.nombre+" "+item.Recibe.appPaterno+" "+item.Recibe.appMaterno : "" }}</td>
            <td>{{ item.Producto?item.Producto.codigoProducto +" "+item.Producto.nombre +" "+ item.Producto.descripcion :"" }}</td>
            <td>{{ item.comentarios }}</td>
            
          </tr>
        </template>

        <template v-slot:no-data>
          <v-btn color="primary" @click="listar()">Actualizar</v-btn>
        </template>
      </v-data-table>
    </v-flex>
    <v-snackbar v-model="snackbar" :multi-line="multiLine">
      {{ textPeticionRest }}

      <template v-slot:action="{ attrs }">
        <v-btn color="delete" text v-bind="attrs" @click="snackbar = false">
          Cerrar
        </v-btn>
      </template>
    </v-snackbar>
  </v-layout>
</template>
<script>
import axios from "axios";
import XLSX from "xlsx";
import moment from "moment";

export default {
  data() {
     moment.locale("es-mx");
    return {
      dialog: false,
      search: "",
      movimientos: [],
      headers: [
          
        { text : "Sucursal", value : "Sucursal.alias", sortable : true },
        { text : "Fecha de Registro", value : "fechaRegistro", sortable : true },
        { text : "Cantidad", value : "cantidad", sortable : true },
        { text : "Tipo", value : "tipo", sortable : true },
        { text : "Sucursal de Origen y Destino", value : "SucursalOrigen", sortable : true },
        { text : "Registra", value : "Registra", sortable : true },
        { text : "Recibe", value : "Recibe", sortable : true },
        { text : "Producto", value : "Producto", sortable : true },
        { text : "Comentarios", value : "comentarios", sortable : true }
      ],
      editedIndex: -1,
      _id: "",
      nombre: "",
      abreviatura: "",
      descripcion: "",
      snackbar: false,
      textPeticionRest: `Se guardo correctamente`,
      multiLine: true,

      loadingTable: true,

      valida: 0,
      validaMensaje: [],
      adModal: 0,
      adAccion: 0,
      adNombre: "",
      removeId: "",
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Nueva categoria"
        : "Editar categoria";
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  created() {
    this.listar();
  },
  methods: {
    mascarafecha(date) {
      return moment(date).format("YYYY-MM-DD hh:mm");
    },

    crearExcel() {
      let infTmp = [];
      this.movimientos.forEach((item) => {
          let infTmp1 = "";
          if (item.SucursalOrigen) {
              if (item.SucursalOrigen.alias){
                  infTmp1 = item.SucursalOrigen.alias;
              }
          }
          let infTmp2 = "";
          if (item.SucursalDestino) {
              if (item.SucursalDestino.alias){
                  infTmp2 = item.SucursalDestino.alias;
              }
          }
        let InformacionEnvio = "De" + infTmp1 +" a " + infTmp2 ;
        InformacionEnvio=InformacionEnvio|| "" ;
        console.log(InformacionEnvio);
        let variable = {
          Alias : item.Sucursal?item.Sucursal.alias:"" ,
          FechaRegistro: item.fechaRegistro || "",
          Cantidad : item.cantidad || "",
          Tipo : item.tipo,
          InformacionEnv : InformacionEnvio,
          Registra : item.Registra? item.Registra.nombre+" "+item.Registra.appPaterno+" "+item.Registra.appMaterno : "" ,
          Recibe : item.Recibe? item.Recibe.nombre+" "+item.Recibe.appPaterno+" "+item.Recibe.appMaterno : "",
          Producto : item.Producto?item.Producto.codigoProducto +" "+item.Producto.nombre +" "+ item.Producto.descripcion :"",
          Comentarios : item.comentarios

        };
        infTmp.push(variable);
      });
      let data = XLSX.utils.json_to_sheet(infTmp);
      const workbook = XLSX.utils.book_new();
      const filename = "Movimiento_Inventario_Farmacia";
      XLSX.utils.book_append_sheet(workbook, data, filename);
      XLSX.writeFile(workbook, `${filename}.xlsx`);
    },
    mensajeSnackBar(mensaje) {
      this.textPeticionRest = mensaje;
    },
    listar() {
      this.loadingTable = true;
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };
      axios
        .get(this.$store.state.servidor + "movimientoInventario/0/0", configuracion)
        .then(function (response) {
          me.movimientos = response.data.listaMovimientoInventario;
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loadingTable = false;
    },
    limpiar() {
      this._id = "";
      this.nombre = "";
      this.abreviatura = "";
      this.descripcion = "";
      this.valida = 0;
      this.validaMensaje = [];
      this.editedIndex = -1;
    },
    validar() {
      this.valida = 0;
      this.validaMensaje = [];
      if (this.nombre.length < 4 || this.nombre.length > 25) {
        this.validaMensaje.push(
          "El nombre del departamento debe tener entre 4-25 caracteres."
        );
      }
      if (this.abreviatura.length < 3 || this.abreviatura.length > 7) {
        this.validaMensaje.push(
          "La abreviatura del departamento debe tener entre 3-7 caracteres."
        );
      }
      if (this.descripcion.length < 15) {
        this.validaMensaje.push(
          "La descripción del departamento debe contener al menos 15 caracteres"
        );
      }
      if (this.validaMensaje.length) {
        this.valida = 1;
      }
      return this.valida;
    },
    guardar() {
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };
      if (this.validar()) {
        return;
      }
      if (this.editedIndex > -1) {
        //Código para editar
        axios
          .put(
            this.$store.state.servidor + "departamento",
            {
              _id: this._id,
              abreviatura: this.abreviatura,
              nombre: this.nombre,
              descripcion: this.descripcion,
            },
            configuracion
          )
          .then(function (response) {
            me.limpiar();
            me.close();
            me.listar();
            me.mensajeSnackBar("Se actualizo correctamente la Movimientos del Inventario");
          })
          .catch(function (error) {
            me.mensajeSnackBar("no se puede actualizar la Movimientos del Inventario");
          })
          .finally(() => (this.snackbar = true));
      } else {
        //Código para guardar
        axios
          .post(
            this.$store.state.servidor + "departamento",
            {
              abreviatura: this.abreviatura,
              nombre: this.nombre,
              descripcion: this.descripcion,
            },
            configuracion
          )
          .then(function (response) {
            me.limpiar();
            me.close();
            me.listar();
            me.mensajeSnackBar("Se creo correctamente la Movimientos del Inventario");
          })
          .catch(function (error) {
            me.mensajeSnackBar("no se puede crear la Movimientos del Inventario");
          })
          .finally(() => (this.snackbar = true));
      }
    },
    editItem(item) {
      this._id = item._id;
      this.abreviatura = item.abreviatura;
      this.nombre = item.nombre;
      this.descripcion = item.descripcion;
      this.dialog = true;
      this.editedIndex = 1;
    },
    eliminarItem(item) {
      this.adModal = 1;
      this.adNombre = item.nombre;
      this.removeId = item._id;
      this.adAccion = 2;
    },
    DesactivarCerrar() {
      this.adModal = 0;
    },

    eliminar() {
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };
      axios
        .delete(
          this.$store.state.servidor + "departamento/" + me.removeId,
          configuracion
        )
        .then(function (response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.removeId = "";
          me.mensajeSnackBar("Se elimino correctamente la Movimientos del Inventario");
          me.listar();
        })
        .catch(function (error) {
          me.mensajeSnackBar("No se puede eliminar la Movimientos del Inventario");
        })
        .finally(() => (this.snackbar = true));
    },
    close() {
      this.limpiar();
      this.dialog = false;
    },
  },
};
</script>
