<template>
  <v-layout wrap id="areaImprimir">
    <v-flex xs12 sm7 md7>
      <v-select
        :items="pacientes"
        :loading="loadingSelectSucursal"
        v-model="seleccionPaciente"
        v-on:change="obtenerInformacionServicios"
        item-text="descCliente"
        item-value="_id"
        label="Selecciona el ticket del servicio"
      >
      </v-select>
    </v-flex>

    <v-flex xs12 sm12 md12 id="infPaciente">
      <v-card v-if="validarDatos">
        <v-card-title
          >{{
            pacienteInf.Cliente ? pacienteInf.Cliente.nombre : "Sin Información"
          }}
          {{ pacienteInf.Cliente ? pacienteInf.Cliente.appPaterno : "" }}
          {{
            pacienteInf.Cliente ? pacienteInf.Cliente.appMaterno : ""
          }}</v-card-title
        >
        <v-card-subtitle
          >Expediente:
          {{ pacienteInf.Cliente ? pacienteInf.Cliente.expediente : " ----- " }}
          <br />
          Fecha de Inicio:
          {{
            pacienteInf.fechaInicio
              ? mascarafecha(pacienteInf.fechaInicio).slice(0, 10)
              : " --/--/---- "
          }}
          <br />
          comentarios : {{ pacienteInf.comentarios }} <br />
          Codigo de acceso : {{ pacienteInf.url }}
        </v-card-subtitle>
      </v-card>
    </v-flex>

   

    <v-flex xs12 sm12 md12 id="infServicio">
      <v-list v-for="item in concentradoServiciosTicket" :key="item.alias">
        <v-list-item-content>
          <v-card v-if="validarDatos">
        <v-card-title
          >Servicio
          
          {{
            item.Servicio ?  item.Servicio.nombre : ""
          }}</v-card-title
        >
        <v-card-subtitle>
          Tipo :
          {{ item.Servicio ? item.Servicio.tipoServicio : "" }}
          <br />
          Descripcion : {{ item.Servicio ? item.Servicio.descripcion : "" }}
        </v-card-subtitle>
        <v-card-subtitle>
          Contenidos de los servicios :
          <ul v-for="itemProd in item.productos" :key="itemProd._id">
        <li>
          {{itemProd.cantidad}} de {{itemProd.Producto.nombre}} {{itemProd.Producto.descripcion}} {{itemProd.Producto.unidadDimension}} 
        </li>
          </ul>
        </v-card-subtitle>
        <v-card-subtitle style="text-align: right"
          >$
          {{
            item.Servicio ? item.Servicio.precio : ""
          }}</v-card-subtitle
        >
      </v-card>

        </v-list-item-content>
      </v-list>
    </v-flex>

    <v-flex xs12 sm12 md12 id="contServicio">
      <v-card v-if="validarDatos">
        <v-card-title>Contenido del Servicio</v-card-title>
        <v-card-subtitle>
          <ul v-if="productosContServ">
            <li v-for="item in productosContServ" :key="item._id">
              {{ item.cantidad }} de {{ item.Producto.nombre }}
              {{ item.Producto.descripcion }}
              {{ item.Producto.unidadDimension }}
            </li>
          </ul>
        </v-card-subtitle>
        <v-card-subtitle style="text-align: right"></v-card-subtitle>
      </v-card>
    </v-flex>

    <v-flex xs12 sm12 md12 id="medicamentoServicio">
      <v-card v-if="validarDatos">
        <v-card-title>Medicamento asignado</v-card-title>
        <v-card-subtitle>
          <ul v-if="productosAsigPac">
            <li
              v-for="itemProdAsig in productosAsigPac"
              :key="itemProdAsig._id"
            >
              {{ itemProdAsig.cantidad }} de {{ itemProdAsig.Producto.nombre }}
              {{ itemProdAsig.Producto.descripcion }}
              {{ itemProdAsig.Producto.unidadDimension }} el
              {{ mascarafecha(itemProdAsig.fechaAsignacion).slice(0, 10) }} a las
              {{ mascarafecha(itemProdAsig.fechaAsignacion).slice(11, 16) }}
            </li>
          </ul>
        </v-card-subtitle>
        <v-card-subtitle style="text-align: right"></v-card-subtitle>
      </v-card>
    </v-flex>

    <v-flex xs12 sm12 md12 id="ceyeServicio">
      <v-card v-if="validarDatos">
        <v-card-title>CEYE asignado</v-card-title>
        <v-card-subtitle>
          <ul v-if="ceyeAsigPac">
            <li v-for="itemCEYEAsig in ceyeAsigPac" :key="itemCEYEAsig._id">
              {{ itemCEYEAsig.cantidad }} de {{ itemCEYEAsig.Producto.nombre }}
              {{ itemCEYEAsig.Producto.descripcion }}
              {{ itemCEYEAsig.Producto.unidadDimension }} el
              {{ mascarafecha(itemCEYEAsig.fechaAsignacion).slice(0, 10) }} a las
              {{ mascarafecha(itemCEYEAsig.fechaAsignacion).slice(11, 16) }}
            </li>
          </ul>
        </v-card-subtitle>
        <v-card-subtitle style="text-align: right"></v-card-subtitle>
      </v-card>
    </v-flex>

    <v-flex xs12 sm12 md12 id="comparativaMedServicio">
      <v-card v-if="validarDatos">
        <v-card-title>Comparativa Medicamentos</v-card-title>
        <v-card-subtitle>
          <ul v-if="concentracionProdAsigPac">
            <li
              v-for="itemProdAsig in concentracionProdAsigPac"
              :key="itemProdAsig._id"
            >
              {{ itemProdAsig.cantidad }} /
              {{ itemProdAsig.cantidadServicio }} de
              {{ itemProdAsig.Producto.nombre }}
              {{ itemProdAsig.Producto.descripcion }}
              {{ itemProdAsig.Producto.unidadDimension }} el
              {{ mascarafecha(itemProdAsig.fechaAsignacion).slice(0, 10) }} a las
              {{ mascarafecha(itemProdAsig.fechaAsignacion).slice(11, 16) }}
              <br />
              {{ itemProdAsig.diferencia }} x {{ itemProdAsig.costoUnitario }} =
              {{ itemProdAsig.importe }}
            </li>
          </ul>
          <v-card-subtitle style="text-align: right">
            $ {{ importeTotalMedicamentos }}
          </v-card-subtitle>
        </v-card-subtitle>
        <v-card-subtitle style="text-align: right"></v-card-subtitle>
      </v-card>
    </v-flex>

    <v-flex xs12 sm12 md12 id="comparativaProdServicio">
      <v-card v-if="validarDatos">
        <v-card-title>Comparativa CEYE</v-card-title>
        <v-card-subtitle>
          <ul v-if="concentracionCEYEAsigPac">
            <li
              v-for="itemProdAsig in concentracionCEYEAsigPac"
              :key="itemProdAsig._id"
            >
              {{ itemProdAsig.cantidad }} de
              {{ itemProdAsig.Producto.nombre }}
              {{ itemProdAsig.Producto.descripcion }}
              {{ itemProdAsig.Producto.unidadDimension }} el
              {{ mascarafecha(itemProdAsig.fechaAsignacion).slice(0, 10) }} a las
              {{ mascarafecha(itemProdAsig.fechaAsignacion).slice(11, 16) }}
              <br />
              {{ itemProdAsig.diferencia }} x {{ itemProdAsig.costoUnitario }} =
              {{ itemProdAsig.importe }}
            </li>
          </ul>
          <v-card-subtitle style="text-align: right">
            $ {{ importeTotalCEYE }}
          </v-card-subtitle>
        </v-card-subtitle>
        <v-card-subtitle style="text-align: right"></v-card-subtitle>
      </v-card>
    </v-flex>

    <v-flex xs12 sm12 md12>
      <v-card v-if="validarDatos">
        <v-card-title>Total a Pagar</v-card-title>
        <v-card-actions style="text-align: right">
          <p v-if="pacienteInf.isAlta == false">
            Responsable:
            {{
              pacienteInf.Enfermera
                ? pacienteInf.Enfermera.appPaterno +
                  " " +
                  pacienteInf.Enfermera.appMaterno +
                  " " +
                  pacienteInf.Enfermera.nombre
                : "No hay enfermera asignada"
            }}
          </p>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="imprimir()">Imprimir</v-btn>
          <v-btn
            :disabled="pacienteInf.isAlta == false"
            id="totalServicio"
            color="primary"
            @click="pagar()"
            >Pagar:
            <h2>$ {{ importeTotal }}</h2></v-btn
          >
        </v-card-actions>
      </v-card>
    </v-flex>

    <v-snackbar v-model="snackbar" :multi-line="multiLine">
      {{ textPeticionRest }}

      <template v-slot:action="{ attrs }">
        <v-btn color="delete" text v-bind="attrs" @click="snackbar = false">
          Cerrar
        </v-btn>
      </template>
    </v-snackbar>
  </v-layout>
</template>
<script>
import axios from "axios";
import moment from "moment";

export default {
  data() {
    moment.locale("es-mx");
    return {
      snackbar: false,
      textPeticionRest: "",
      multiLine: true,
      validarDatos: false,
      pacienteInf: {},
      factura: true,
      pacientes: [],
      precios: [],
      preciosCEYE: [],
      importeTotalMedicamentos: 0,
      importeTotalCEYE: 0,
      importeTotal: 0,
      importeServicio: 0,
      idPacienteSeleccion: "",
      productosContServ: [],
      concentradoServiciosTicket: [],
      productosAsigPac: [],
      ceyeContServ: [],
      ceyeAsigPac: [],
      concentracionProdAsigPac: [],
      concentracionCEYEAsigPac: [],
      productosCobrar: [],
      seleccionPaciente: "",
      loadingSelectSucursal: false,
      idTicket: 0,

      output: null,
    };
  },

  async created() {
    this.loadingSelectSucursal = true;
    await this.obtenerPacientes();
    await this.obtenerParamentros();
    await this.obtenerPrecios();
    await this.obtenerPreciosCEYE();
    await this.configurarImpr();
    this.loadingSelectSucursal = false;
  },
  methods: {

    mascarafecha(date) {
      return moment(date).format("YYYY-MM-DD hh:mm");
    },
    imprimir() {
      // Pass the element id here
      //this.$VueHtmlToPaper('areaImprimir', this.options);
      var ventana = window.open("", "PRINT", "height=400,width=600");
      ventana.document.write("<html><head> <title>Imprimir Recibo</title>");
      ventana.document.write("</head><body >");
      ventana.document.write(infPaciente.innerHTML);
      ventana.document.write(infServicio.innerHTML);
      ventana.document.write(contServicio.innerHTML);
      ventana.document.write(ceyeServicio.innerHTML);
      ventana.document.write(medicamentoServicio.innerHTML);
      ventana.document.write(comparativaMedServicio.innerHTML);
      ventana.document.write(comparativaProdServicio.innerHTML);
      ventana.document.write(totalServicio.innerHTML);
      ventana.document.write("</body></html>");
      ventana.document.close();
      ventana.focus();
      ventana.print();
      //ventana.close();
      return true;
    },
    configurarImpr() {
      this.options = {
        name: "_blank",
        specs: ["fullscreen=yes", "titlebar=yes", "scrollbars=yes"],
        styles: [
          "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
        ],
      };
    },

    mensajeSnackBar(mensaje) {
      this.textPeticionRest = mensaje;
    },
    obtenerParamentros() {
      const params = new URLSearchParams(window.location.search);
      if (params.has("f")) {
        this.factura = false;
      }
    },
    obtenerPrecios() {
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };

      axios
        .get(
          this.$store.state.servidor + "precioAdministrador/0/0",
          configuracion
        )
        .then(function(response) {
          me.precios = response.data.listadoPrecio;
        })
        .catch(function(error) {
          me.precios = [];
          me.validarDatos = false;
          console.log(error);
        });
    },
    obtenerPreciosCEYE() {
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };

      axios
        .get(
          this.$store.state.servidor + "precioAdministradorCEYE/0/0",
          configuracion
        )
        .then(function(response) {
          me.preciosCEYE = response.data.listadoPrecio;
        })
        .catch(function(error) {
          me.preciosCEYE = [];
          me.validarDatos = false;
          console.log(error);
        });
    },
    obtenerPacientes() {
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };
      me.loadingSelectSucursal = true;
      axios
        .get(
          this.$store.state.servidor + "ticketInformacion/0/0",
          configuracion
        )
        .then(function(response) {
          me.pacientes = response.data.tikects;
          me.pacientes.forEach((paciente) => {
            let resp =
              "Folio: " +
              paciente.folio +
              " - " +
              paciente.Cliente.nombre +
              " " +
              paciente.Cliente.appPaterno +
              " " +
              paciente.Cliente.appMaterno;
            paciente.descCliente = resp;
          });
        })
        .catch(function(error) {
          me.pacientes = [];
          console.log(error);
        });
      me.loadingSelectSucursal = false;
    },



    async obtenerServiciosEnElTicket() {
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };
      if (me.pacienteInf) {
        await axios
          .get(
            this.$store.state.servidor +
              "concentradoServiciosTicket/" +
              this.pacienteInf._id,
            configuracion
          )
          .then(function(response) {
            me.concentradoServiciosTicket = response.data.serviciosProductos;
            me.productosContServ = response.data.concentradoProductos;
            me.validarDatos = true;
            me.importeServicio=0;
            for (let i=0; i<me.concentradoServiciosTicket.length; i++){
              me.importeServicio+=me.concentradoServiciosTicket[i].Servicio.precio;
            }

          })
          .catch(function(error) {
            me.validarDatos = false;
            me.concentradoServiciosTicket = [];
            me.productosContServ = [];

          });
      }
    },

    async obtenerCeyeDelServicio() {
      console.log("obtenerCeyeDelServicio");
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };
      console.log(me.pacienteInf);
      //if (me.pacienteInf) {
      //  await axios
      //    .get(
      //      this.$store.state.servidor +
      //        "ceyeDelosServicios/" +
      //        this.pacienteInf.servicio._id,
      //      configuracion
      //    )
      //    .then(function(response) {
      //      me.ceyeContServ = response.data.ceyeDelServicio;
      //      me.validarDatos = true;
      //    })
      //    .catch(function(error) {
      //      console.log(error);
      //      me.validarDatos = false;
      //      me.ceyeContServ = [];
      //    });
      //}
    },

    async obtenerProductosAsignadosToPaciente() {
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };
      me.concentracionProdAsigPac = [];
      await axios
        .get(
          this.$store.state.servidor +
            "asignacionProductoTicket/" +
            me.pacienteInf.Cliente._id,
          configuracion
        )
        .then(function(response) {
          me.productosAsigPac = response.data.productosAsignados;
          me.productosAsigPac.forEach((element) => {
            let band = false;

            me.concentracionProdAsigPac.forEach((elementoConcentrado) => {
              if (
                element.Producto.codigoProducto ==
                elementoConcentrado.Producto.codigoProducto
              ) {
                band = true;
                elementoConcentrado.cantidad += element.cantidad;
                //elementoConcentrado.cantidadServicio=element.cantidad;
              }
            });

            if (band == false) {
              let VariableTmp = {
                cantidad: element.cantidad,
                cantidadServicio: 0,
                diferencia: 0,
                costoUnitario: 0,
                importe: 0,
                Producto: element.Producto,
                fechaAsignacion: element.fechaAsignacion,
              };
              me.concentracionProdAsigPac.push(VariableTmp);
            }
          });
        })
        .catch(function(error) {
          me.productosAsigPac = [];
          me.validarDatos = false;
          console.log(error);
        });
    },

    async obtenerCEYEAsignadosToPaciente() {
      
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };
      me.concentracionCEYEAsigPac = [];
      await axios
        .get(
          this.$store.state.servidor +
            "asignacionCEYTETicket/" +
            me.pacienteInf.Cliente._id,
          configuracion
        )
        .then(function(response) {
          me.ceyeAsigPac = response.data.ceyeAsignados;
          me.ceyeAsigPac.forEach((element) => {
            let band = false;

            me.concentracionCEYEAsigPac.forEach((elementoConcentrado) => {
              if (
                element.Producto.codigoProducto ==
                elementoConcentrado.Producto.codigoProducto
              ) {
                band = true;
                elementoConcentrado.cantidad += element.cantidad;
                //elementoConcentrado.cantidadServicio=element.cantidad;
              }
            });

            if (band == false) {
              let VariableTmp = {
                cantidad: element.cantidad,
                cantidadServicio: 0,
                diferencia: 0,
                costoUnitario: 0,
                importe: 0,
                Producto: element.Producto,
                fechaAsignacion: element.fechaAsignacion,
              };
              me.concentracionCEYEAsigPac.push(VariableTmp);
            }
          });
        })
        .catch(function(error) {
          me.ceyeAsigPac = [];
          me.validarDatos = false;
        });
    },

    crearConcentradoMedicamentAsigando() {
      let me = this;
      me.concentracionProdAsigPac.forEach((element) => {
        element.diferencia = element.cantidad;
        me.productosContServ.forEach((productos) => {
          
          if (
            productos.Producto.codigoProducto == element.Producto.codigoProducto
          ) {
            element.cantidadServicio = productos.cantidad;
            element.diferencia = element.cantidad - element.cantidadServicio;
            if (element.diferencia < 0) {
              element.diferencia = 0;
            }
          }
        });
      });
      this.importeTotalMedicamentos = 0;
      me.concentracionProdAsigPac.forEach((element) => {
        
        me.precios.forEach((precio) => {
          if (precio.Producto && element.Producto) {
            if (
              precio.Producto.codigoProducto == element.Producto.codigoProducto
            ) {
              element.costoUnitario = precio.precioCalculadoMenudeo;
              element.importe = element.costoUnitario * element.diferencia;
              this.importeTotalMedicamentos += element.importe;
            }
          }
        });
      });
      if (this.pacienteInf) {
        
        this.importeTotal =
          this.importeTotalMedicamentos +
          this.importeTotalCEYE +
          this.importeServicio;
        
      }
    },

    crearConcentradoCEYEAsigando() {
      let me = this;
      me.concentracionCEYEAsigPac.forEach((element) => {
        element.diferencia = element.cantidad;
        me.ceyeContServ.forEach((productos) => {
          if (
            productos.Producto.codigoProducto == element.Producto.codigoProducto
          ) {
            element.cantidadServicio = productos.cantidad;
            element.diferencia = element.cantidad - element.cantidadServicio;
            if (element.diferencia < 0) {
              element.diferencia = 0;
            }
          }
        });
      });
      this.importeTotalCEYE = 0;
      me.concentracionCEYEAsigPac.forEach((element) => {
        me.preciosCEYE.forEach((precio) => {
          if (precio.Producto && element.Producto) {
            if (
              precio.Producto.codigoProducto == element.Producto.codigoProducto
            ) {
              element.costoUnitario = precio.precioCalculadoMenudeo;
              element.importe = element.costoUnitario * element.diferencia;
              this.importeTotalCEYE += element.importe;
            }
          }
        });
      });
      if (this.pacienteInf) {
        this.importeTotal =
          this.importeTotalMedicamentos +
          this.importeTotalCEYE +
          this.importeServicio;
      }
    },

    async obtenerInformacionServicios() {
      
      let me = this;
      me.validarDatos = false;
      me.loadingSelectSucursal = true;
      me.pacientes.forEach((paciente) => {
        if (paciente._id == this.seleccionPaciente) {
          me.pacienteInf = paciente;
          me.idPacienteSeleccion = paciente._id;
        }
      });
      await this.obtenerProductosAsignadosToPaciente();
      await this.obtenerServiciosEnElTicket();
      await this.obtenerCeyeDelServicio();
      await this.obtenerCEYEAsignadosToPaciente();
      this.crearConcentradoMedicamentAsigando();
      this.crearConcentradoCEYEAsigando();
      me.loadingSelectSucursal = false;
    },


    async liberarSucursal(){
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };
      await axios
        .put(
          this.$store.state.servidor + "personaIsInSucursal",
          {
            InSucursal: me.pacienteInf.Cliente.Sucursal,
            Persona: me.pacienteInf.Cliente._id,
            fechaIngreso: "",
            isInSucursal: false
          },
          configuracion
        )
        .then(async function(response) {
          
        })
        .catch(function(error) {
          
        })
    },

    async pagar() {
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };

      let _idTicket = this.seleccionPaciente;
      let informacionTodoDocumento = [];

      informacionTodoDocumento.push(this.validarDatos);
      informacionTodoDocumento.push(this.pacienteInf);
      informacionTodoDocumento.push(this.factura);
      informacionTodoDocumento.push(this.pacientes);
      informacionTodoDocumento.push(this.precios);
      informacionTodoDocumento.push(this.importeTotalMedicamentos);
      informacionTodoDocumento.push(this.importeTotal);
      informacionTodoDocumento.push(this.importeServicio);
      informacionTodoDocumento.push(this.idPacienteSeleccion);
      informacionTodoDocumento.push(this.productosContServ);
      informacionTodoDocumento.push(this.productosAsigPac);
      informacionTodoDocumento.push(this.concentracionProdAsigPac);
      informacionTodoDocumento.push(this.concentracionProdCEYEPac);
      informacionTodoDocumento.push(this.productosCobrar);
      informacionTodoDocumento.push(this.seleccionPaciente);
      informacionTodoDocumento.push(this.loadingSelectSucursal);
      informacionTodoDocumento.push(_idTicket);

      await axios
        .put(
          this.$store.state.servidor + "ticket",
          {
            id: _idTicket,
            total: this.importeTotal,
            informacionTodoDocumento: JSON.stringify(
              informacionTodoDocumento
            ).toString(),
            isFacturado: this.factura,
            isClosed: true,
            isPagado: true,
          },
          configuracion
        )
        .then(async function(response) {
          me.mensajeSnackBar("Se genero el pago del Paciente");
          me.liberarSucursal();
        })
        .catch(function(error) {
          me.mensajeSnackBar("No se puede generar el pago del Paciente");
        })
        .finally(() => (this.snackbar = true));

      await axios
        .post(
          this.$store.state.servidor + "ticketMoverHistorial",
          {
            id: _idTicket,
          },
          configuracion
        )
        .then(function(response) {
          me.mensajeSnackBar("Se genero el pago del Paciente");
        })
        .catch(function(error) {
          me.mensajeSnackBar("No se puede generar el pago del Paciente");
        })
        .finally(() => (this.snackbar = true));
      //me.imprimir();
    },
  },
};
</script>
