<template>
  <v-layout align-start>
    <v-flex>
      <v-toolbar flat color="white">
        <v-toolbar-title>Historial de cuentas</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          class="text-xs-center"
          v-model="search"
          append-icon="search"
          label="Búsqueda"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-switch
          @change="conCorte"
          v-model="SWCorte"
          :label="swCorteMsg"
        ></v-switch>
        <v-spacer></v-spacer>
        <v-btn color="permiso" @click="corte">
          <v-icon color="white">fa-eercast</v-icon>
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn color="xls" @click="crearExcel">
          <v-icon color="white">fa-file-excel-o</v-icon>
        </v-btn>
        <template> </template>



        <v-dialog v-model="dialog" max-width="500px">
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="abreviatura" label="Abreviatura">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="nombre" label="Nombre">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="descripcion" label="Descripción">
                    </v-text-field>
                  </v-flex>

                  <v-flex xs12 sm12 md12 v-show="valida">
                    <div
                      class="red--text"
                      v-for="v in validaMensaje"
                      :key="v"
                      v-text="v"
                    ></div>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="secondary" text @click="close">Cancelar</v-btn>
              <v-btn color="primary" text @click="guardar">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>






        <v-dialog v-model="adModal" max-width="290">
          <v-card>
            <v-card-title class="headline"> Iniciar Corte </v-card-title>
            <v-card-text>
              Estás a punto de realizar el <span> Corte </span>
              de cuentas
              
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="secondary" text @click="DesactivarCerrar()"
                >Cancelar
              </v-btn>
              <v-btn color="primary" text @click="crearCorte()"> Crea corte </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>




      </v-toolbar>
      <v-data-table
        :headers="headers"
        :items="historias"
        :search="search"
        :loading="loadingTable"
        loading-text="Cargando datos... Por favor espere un momento"
        class="elevation-1"
      >
        <template v-slot:item="{ item }">
          <tr>
            <td>
              {{ item.Cliente.nombre ? item.Cliente.nombre : "" }}
              {{ item.Cliente.appPaterno }} {{ item.Cliente.appMaterno }}
              
            </td>
            <td>{{ item.folio }}</td>
            <td>{{ mascarafecha(item.fechaRegistro).slice(0, 10) }}</td>
            <td>{{item.textoConcentradoServicios}}</td>
            <td>{{ item.isModificable==true?"En corte" : "Historico" }} <v-switch
            v-if="!factura && item.isModificable==true"
          @change="actFactura(item)"
          v-model="item.isFacturado"
          :label="item.isFacturado ? 'Facturar':'Sin Facturar'"
        ></v-switch> </td>
            <td>{{ item.total }}</td>
          </tr>
        </template>

        <template v-slot:no-data>
          <v-btn color="primary" @click="listar()">Actualizar</v-btn>
        </template>
      </v-data-table>
    </v-flex>
    <v-snackbar v-model="snackbar" :multi-line="multiLine">
      {{ textPeticionRest }}

      <template v-slot:action="{ attrs }">
        <v-btn color="delete" text v-bind="attrs" @click="snackbar = false">
          Cerrar
        </v-btn>
      </template>
    </v-snackbar>
  </v-layout>
</template>
<script>
import axios from "axios";
import XLSX from "xlsx";
import moment from "moment";

export default {
  data() {
    moment.locale("es-mx");
    return {
      dialog: false,
      search: "",
      historias: [],
      factura: true,
      headers: [
        { text: "Cliente", value: "Cliente.nombre", sortable: true },
        { text: "Folio", value: "folio", sortable: true },
        { text: "fechaRegistro", value: "descripcion", sortable: true },
        { text: "Servicio", value: "textoConcentradoServicios", sortable: true },
        { text: "En Corte", value: "servicio.isModificable", sortable: true },
        {
          text: "total",
          value: "total",
          sortable: true,
        },
      ],
      editedIndex: -1,
      _id: "",
      nombre: "",
      abreviatura: "",
      descripcion: "",
      snackbar: false,
      textPeticionRest: `Se guardo correctamente`,
      multiLine: true,
      SWCorte: true,
      swCorteMsg: "Historico",

      loadingTable: true,

      //S

      valida: 0,
      validaMensaje: [],
      adModal: false,
      adAccion: 0,
      adNombre: "",
      removeId: "",
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nueva categoria" : "Editar categoria";
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  created() {
    
    this.listar();

  },
  methods: {
    mascarafecha(date) {
      return moment(date).format("YYYY-MM-DD hh:mm");
    },
    corte(){
      this.adModal = true;
    },
    async actFactura(item){
      
      await this.guardar(item._id, item.isFacturado);
      
    },
    conCorte() {
      this.swCorteMsg = this.SWCorte ? "Historico" : "En corte";
      this.listar();
    },
    obtenerParamentros() {
      const params = new URLSearchParams(window.location.search);
      if (params.has("f")) {
        this.factura = false;
      }
    },
    crearExcel() {
      let infTmp = [];
      this.historias.forEach((item) => {
        let variable = {
          Nombre: item.Cliente.nombre ? item.Cliente.nombre : "",
          ApellidoPaterno: item.Cliente.appPaterno,
          ApellidoMaterno: item.Cliente.appMaterno,
          Folio: item.folio,
          fechaRegistro : mascarafecha(item.fechaRegistro).slice(0, 10),
          Servicio : item.servicio.nombre,
          Status : item.isModificable==true?"En corte" : "Historico",
          total : item.total
        };
        infTmp.push(variable);
      });
      let data = XLSX.utils.json_to_sheet(infTmp);
      const workbook = XLSX.utils.book_new();
      const filename = "Reporte_Historial_Movimientos";
      XLSX.utils.book_append_sheet(workbook, data, filename);
      XLSX.writeFile(workbook, `${filename}.xlsx`);
    },
    mensajeSnackBar(mensaje) {
      this.textPeticionRest = mensaje;
    },
    async listar() {
      this.loadingTable = true;
      let me = this;
      
      
      me.obtenerParamentros();
      
      
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };
      let direccionHistorial = "ticketHistorial?a=0";
      let direccionTmpFact = this.factura == true ? "" : "&f=tr";
      
      let direccionTmpCorte = this.SWCorte==true?  "&sinCorte=true" : "&sinCorte=false";
      
      await axios
        .get(
          this.$store.state.servidor + direccionHistorial + direccionTmpFact + direccionTmpCorte,
          configuracion
        )
        .then(function (response) {
          me.historias = response.data.historial;
          

        })
        .catch(function (error) {
          console.log(error);
        });
      this.loadingTable = false;
    },
    limpiar() {
      this._id = "";
      this.nombre = "";
      this.abreviatura = "";
      this.descripcion = "";
      this.valida = 0;
      this.validaMensaje = [];
      this.editedIndex = -1;
    },
    validar() {
      this.valida = 0;
      this.validaMensaje = [];
      if (this.nombre.length < 4 || this.nombre.length > 25) {
        this.validaMensaje.push(
          "El nombre del departamento debe tener entre 4-25 caracteres."
        );
      }
      if (this.abreviatura.length < 3 || this.abreviatura.length > 7) {
        this.validaMensaje.push(
          "La abreviatura del departamento debe tener entre 3-7 caracteres."
        );
      }
      if (this.descripcion.length < 15) {
        this.validaMensaje.push(
          "La descripción del departamento debe contener al menos 15 caracteres"
        );
      }
      if (this.validaMensaje.length) {
        this.valida = 1;
      }
      return this.valida;
    },
    async guardar(_id, isFacturado) {
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };
      
        //Código para editar
        
        axios
          .put(
            await this.$store.state.servidor + "ticketHistorial",
            {
              id: _id,
              isFacturado : isFacturado,
            },
            configuracion
          )
          .then(function (response) {
            
              me.listar();
            
            
          });
      
    },


    crearCorte() {
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };
      
        //Código para editar
        axios
          .post(
            this.$store.state.servidor + "crearCorte",{},configuracion
          )
          .then(function (response) {
            console.log('response', response);
            me.listar();    
            me.adModal = false;
          })
          .catch(function(error){
            me.adModal = false;
          });
          
    },
    
    DesactivarCerrar() {
      this.adModal = false;
    },

    close() {
      this.limpiar();
      this.dialog = false;
    },
  },
};
</script>
