<template>
  <v-layout align-start>
    <v-flex>
      <v-toolbar flat color="white">
        <v-toolbar-title>Liberar Pacientes</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          class="text-xs-center"
          v-model="search"
          append-icon="search"
          label="Búsqueda"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>

        <v-dialog v-model="adModal" max-width="290">
          <v-card>
            <v-card-title class="headline"> Eliminar registro </v-card-title>
            <v-card-text>
              Estás a punto de <span> eliminar </span>
              la Categoria
              {{ adNombre }}
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="secondary" text @click="DesactivarCerrar()"
                >Cancelar
              </v-btn>
              <v-btn color="primary" text @click="eliminar()"> Eliminar </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table
        :headers="headers"
        :items="tickets"
        :search="search"
        :loading="loadingTable"
        loading-text="Cargando datos... Por favor espere un momento"
        class="elevation-1"
      >
        <template v-slot:item="{ item }">
          <tr>
            <td>
              {{ item.Cliente.appPaterno || "Error en apellido Paterno :( ," }}
              {{ item.Cliente.appMaterno || "" }}
              {{ item.Cliente.nombre || "Error en Nombre :( ," }}
            </td>
            <td>{{ item.Cliente.acompanante }}</td>
            <td>
              {{
                item.Cliente.InSucursal
                  ? item.Cliente.InSucursal.alias
                  : "Sin asignación"
              }}
            </td>
            <td>{{ item.folio }}</td>
            <td>
              {{ item.textoConcentradoServicios ? item.textoConcentradoServicios : "Sin asignación" }}
            </td>
            <td>
                <v-flex>
              
                  
                <v-btn color="less" v-if="item.soyResponsable" :disabled="item.isAlta" @click="darAlta(item)" >
                  Alta de Paciente
                </v-btn>
                
              
                </v-flex>
              <p v-if="!item.soyResponsable">
                {{
                  item.Enfermera
                    ? item.Enfermera.appPaterno +
                      " " +
                      item.Enfermera.appMaterno +
                      " " +
                      item.Enfermera.nombre
                    : "Sin asignación"
                }}
              </p>
            </td>
          </tr>
        </template>

        <template v-slot:no-data>
          <v-btn color="primary" @click="listar()">Actualizar</v-btn>
        </template>
      </v-data-table>
    </v-flex>
    <v-snackbar v-model="snackbar" :multi-line="multiLine">
      {{ textPeticionRest }}

      <template v-slot:action="{ attrs }">
        <v-btn color="delete" text v-bind="attrs" @click="snackbar = false">
          Cerrar
        </v-btn>
      </template>
    </v-snackbar>
  </v-layout>
</template>
<script>
import axios from "axios";
import XLSX from "xlsx";

export default {
  data() {
    return {
      dialog: false,
      search: "",
      tickets: [],
      areas: [],
      servicios: [],
      personas: [],
      idUsuario: "",
      headers: [
        {
          text: "Nombre Paciente",
          value: "Cliente.appPaterno",
          sortable: true,
        },
        { text: "Acompañante", value: "Cliente.acompanante", sortable: true },
        { text: "Area", value: "Cliente.InSucursal.alias", sortable: true },
        { text: "Folio", value: "folio", sortable: true },
        { text: "Servicio", value: "servicio.nombre", sortable: true },
        { text: "Responsable", value: "servicio.Enfermera", sortable: true },
      ],
      editedIndex: -1,
      _id: "",
      nombre: "",
      abreviatura: "",
      descripcion: "",
      snackbar: false,
      textPeticionRest: `Se guardo correctamente`,
      multiLine: true,

      loadingTable: true,

      valida: 0,
      validaMensaje: [],
      adModal: 0,
      adAccion: 0,
      adNombre: "",
      removeId: "",
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nueva categoria" : "Editar categoria";
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  async created() {
    this.idUsuario = localStorage.getItem("_id");
    await this.listar();
  },
  methods: {
    async darAlta(item){
      this.loadingTable = true;
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };
        await axios
        .put(this.$store.state.servidor + "altaPacienteTicket",{id : item._id}, configuracion)
        .then(function(response) {
          //me.areas = response.data.Sucursales;
        })
        .catch(function(error) {
          //console.log(error);
        });
        await this.listar();
      this.loadingTable = false;
    },
    crearExcel() {
      let infTmp = [];
      this.tickets.forEach((item) => {
        let variable = {
          Abreviatura: item.abreviatura,
          Nombre: item.nombre,
          Descripcion: item.descripcion,
        };
        infTmp.push(variable);
      });
      let data = XLSX.utils.json_to_sheet(infTmp);
      const workbook = XLSX.utils.book_new();
      const filename = "Reporte_Pacientes";
      XLSX.utils.book_append_sheet(workbook, data, filename);
      XLSX.writeFile(workbook, `${filename}.xlsx`);
    },
    mensajeSnackBar(mensaje) {
      this.textPeticionRest = mensaje;
    },
    async listar() {
      this.loadingTable = true;
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };
      await axios
        .get(this.$store.state.servidor + "sucursal/0/0", configuracion)
        .then(function(response) {
          me.areas = response.data.Sucursales;
        })
        .catch(function(error) {
          console.log(error);
        });
      await axios
        .get(this.$store.state.servidor + "persona/0/0", configuracion)
        .then(function(response) {
          me.personas = response.data.ListadoPersonas;
        })
        .catch(function(error) {
          console.log(error);
        });
      await axios
        .get(this.$store.state.servidor + "servicio/0/0", configuracion)
        .then(function(response) {
          me.servicios = response.data.Servicios;
        })
        .catch(function(error) {
          console.log(error);
        });
      await axios
        .get(this.$store.state.servidor + "ticketIngreso/0/0", configuracion)
        .then(function(response) {
          me.tickets = response.data.tikects;
          console.log(me.tickets);
        })
        .catch(function(error) {
          console.log(error);
        });
      //console.log(me.areas);
      me.areas.forEach((area) => {
        me.tickets.forEach((ticket, indice) => {
          if (ticket.Cliente) {
            if (ticket.Cliente.isInSucursal == true) {
              if (ticket.Cliente.InSucursal == area._id) {
                me.tickets[indice].Cliente.InSucursal = area;
              }
            }
          }
        });
      });
      me.servicios.forEach((servicio) => {
        me.tickets.forEach((ticket, indice) => {
          if (ticket.servicio) {
            if (ticket.servicio == servicio._id) {
              me.tickets[indice].servicio = servicio;
            }
          }
        });
      });
      me.personas.forEach((persona) => {
        me.tickets.forEach((ticket, indice) => {
          if (ticket.Enfermera) {
            if (ticket.Enfermera == me.idUsuario) {
              me.tickets[indice].soyResponsable = persona;
            }

            if (ticket.Enfermera == persona._id) {
              me.tickets[indice].Enfermera = persona;
            }
          }
        });
      });
      //this.tickets.Cliente.InSucursal=
      this.loadingTable = false;
    },
    limpiar() {
      this._id = "";
      this.nombre = "";
      this.abreviatura = "";
      this.descripcion = "";
      this.valida = 0;
      this.validaMensaje = [];
      this.editedIndex = -1;
    },
    eliminarItem(item) {
      this.adModal = 1;
      this.adNombre = item.nombre;
      this.removeId = item._id;
      this.adAccion = 2;
    },
    DesactivarCerrar() {
      this.adModal = 0;
    },

    eliminar() {
      let me = this;
      let header = { Authorization: localStorage.token };
      let configuracion = { headers: header };
      axios
        .delete(
          this.$store.state.servidor + "departamento/" + me.removeId,
          configuracion
        )
        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.removeId = "";
          me.mensajeSnackBar("Se elimino correctamente la Categoria");
          me.listar();
        })
        .catch(function(error) {
          me.mensajeSnackBar("No se puede eliminar la Categoria");
        })
        .finally(() => (this.snackbar = true));
    },
    close() {
      this.limpiar();
      this.dialog = false;
    },
  },
};
</script>
